.caisseAttente {
  background-color: transparent;
  border: 1px solid #000;
  width: 40%;
  height: 58%;
  margin-top: 40px;
  margin-left: 30px;
  position: relative;
}

.timer {
  position: absolute;
  background-color: green;
  width: 100%;
  height: 20%;
  bottom: 0;
}
